@model IEnumerable<NerdDinnerReloaded.Models.Dinner>

@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
@foreach (var d in Model)
{
    <li>
    @d.Title (@d.EventDate)
    </li>
}

<p>
    @Html.ActionLink("Create New Dinner", "Create");
</p>
</p>
